*{
    margin:0rem;
    padding: 0rem;
}
.container{
    margin: auto;
    text-align: center;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
}
.hero-heading{
    font-size: 25px;
    padding: 2rem;
}
.hero__text{
    margin: 0rem 5rem;
    font-size: 20px;
}
label{
    margin-top: 1rem;
    display:block;
    font-size: 20px;
}
#bill-amount__box{
    height:50px;
    width: 400px;
    margin: 0.5rem 1rem 1rem 1rem;
    text-align: center;
    font-size:20px;
}
#next-button{
    height:40px;
    width: 80px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;;
}