* {
    margin: 0rem;
    padding: 0rem;
}

.container {
    
    text-align: center;
    margin:1rem;
    
    
}

.hero-heading {
    font-size: 2.5rem;
    padding: 4rem 1rem 1.5rem 1rem;
}

.hero_text {
    
    font-size: 1.2rem;
}

label {
    margin: 1.5rem 1rem 1rem 1.5rem;
    display: block;
    font-size: 1.2rem;
}

#bill-amount__box {
    height: 50px;
    width: 400px;
    margin: 0.5rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 20px;
}

#next-button {
    height: 40px;
    width: 80px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    
}
#cash-given__box{
    height: 50px;
    width: 400px;
    margin: 0.5rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 20px;

}
#check-button{
    height: 40px;
    width: 80px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    
}
.return-change{
    margin:auto;
    text-align: center;
}