*{
    margin:0rem;
    padding: 0rem;
}
.container{
    margin: auto;
    text-align: center;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
}
.hero-heading{
    font-size: 25px;
    padding: 2rem;
}
.hero__text{
    margin: 0rem 5rem;
    font-size: 20px;
}
label{
    margin-top: 1rem;
    display:block;
    font-size: large;
}
#bill{
    height:50px;
    width: 400px;
    margin: 0.5rem 1rem 1rem 1rem;
}